<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    <style>
	
	body {
		background: #DFC2F2;
		background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
		background-attachment: fixed;	
		background-size: cover;
	}

	#container{
		box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin: 5em auto;
		height: 500px;
		width: 1000px;
	}


	/* 	Product details  */
	.product-details {
		position: relative;
		text-align: left;
		overflow: hidden;
		padding: 30px;
		height: 100%;
		float: left;
		width: 40%;
	}

	/* 	Product Name */
	#container .product-details h1{
		font-family: 'Heebo', sans-serif;
		display: inline-block;
		position: relative;
		font-size: 34px;
		color: #344055;
		margin: 0;
		
	}

	#container .product-details h1:before{
		position: absolute;
		content: '';
		right: 0%; 
		top: 0%;
		transform: translate(25px, -15px);
		font-family: 'Farsan', cursive;
		display: inline-block;
		background: #FFA69E;
		border-radius: 5px;
		font-size: 14px;
		padding: 5px;
		color: #FFF;
		margin: 0;
		animation: chan-sh 6s ease infinite;

	}


	@keyframes chan-sh {
		from  {content: 'free shipping';}
		to  {content: 'New';}
		
	}

	/*Product Rating  */
	.hint-star {
		display: inline-block;
		margin-left: 0.5em;
		color: gold;
		width: 50%;
	}


/* The most important information about the product */
	#container .product-details > p {
		font-family: 'Heebo', sans-serif;
		text-align: center;
		font-size: 20px;
		color: #7d7d7d;	
	}

/* control */
	.control{
		position: absolute;
		text-align: center;
        left: 35%;
        bottom: 20%;
		color: white;
	}
/* the Button */
    .button {
        
    background-color: rgb(2, 2, 2); /* Green */
    border: none;
    color: white;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }





/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}   
	</style>
	
</head>
<body>
		<div id="container">
			<div class="product-details">
				<h1>Hola <%= nombre %></h1>
				<p class="information">" Gracias por su registro y por formar parte de la familia FITNESS - CENTER , como ultimo
					paso para terminar su registro por favor haga click en el siguiente boton y verfifque su correo"</p>
				<div class="control">
					<a style="color: white;" href="https://fitnessenergym.com/#/verificarcorreo" class="button">Verificar</a>
				</div>
			</div>
		
			<div class="product-image">
				<img src="https://res.cloudinary.com/continental/image/upload/v1574456238/logo_q3k6qa.jpg" alt="Omar Dsoky">
			</div>
		</div>
</body>
</html>