<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Teko', sans-serif;
        padding: 15px;
        height: 100%;
    }

    .contendor {
        padding: 15px;
        background-color: red;
        height: 350px;
    }

    .img {
        width: 48%;
        float: right;
        height: 100%;
    }

    .texto {
        width: 48%;
        float: left;
        background-color: rgb(240, 243, 243);
        padding: 10px;
        border-radius: 1em;
        height: 93%;
    }

    .titulo {
        text-align: center;
    }

    .detalleLeft {
        width: 40%;
        float: left;
        padding-left: 50px;
    }

    .detalleRight {
        width: 40%;
        float: right;
    }
</style>

<body>
    <div class="contendor">
        <div class="texto">
            <h1 class="titulo"> Matricula Registrada </h1>
            <p >
                Hola <span> <%= usuario %> </span> gracias por su matricula
            </p>
            <div class="detalleLeft">
                <h2 style="margin-bottom: 0px;">Fecha de Registro</h2>
                <p style="margin-top: 0px;"> <%= new Date().toString();  %> </p>
            </div>
            <div class="detalleRight">
                <h2 style="margin-bottom: 0px;">Cantidad de Meses</h4>
                    <p style="margin-top: 0px;"> <%= meses %> Meses </p>
            </div>
            <div class="detalleLeft">
                <h2 style="margin-bottom: 0px;">Pago :</h2>
                <p style="margin-top: 0px;"> <%= total %> Nuevos soles </p>
            </div>
            <div class="detalleRight">
                <h2 style="margin-bottom: 0px;"> Estado de pago </h2>
                <% if( pago == true){ %>
                <p style="margin-top: 0px;"> Completado </p>
                <% } else{ %>
                <p style="margin-top: 0px;"> Incompleto </p>
                <% } %>
            </div>
        </div>
        <div class="img">
            <img style="border-radius: 1em;"
                src="https://res.cloudinary.com/continental/image/upload/v1581001510/Banner_0_ova0lu.png" height="350"
                width="480">
        </div>
    </div>
</body>
</html>